*{
    box-sizing:  border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#one{
    background-color: #fe0000;
    border: 1px solid black;
}
#two{
    background-color: #008001;
    border: 1px solid black;
}
#three{
    background-color: #ff4500;
    border: 1px solid black;
}
#four{
    background-color: #81007f;
    border: 1px solid black;
}
#five{
    background-color: #ff1494;
    border: 1px solid black;
}
#six{
    background-color: #0000fe;
    border: 1px solid black;
}
#seven{
    background-color: #a52b2a;
    border: 1px solid black;
}
#eight{
    background-color: #ee82ef ;
    border: 1px solid black;
}
#nine{
    background-color:#4b0081;
    border: 1px solid black;
}
#ten{
    background-color: #fed700;
    border: 1px solid black;
}
#eleven{
    background-color: #609da0;
    border: 1px solid black;
}
#twelve{
    background-color: #00ffff;
    border: 1px solid black;
}
