<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">

    <title>Case 1</title>

    <link rel="stylesheet" href="Assets/css/styleSheet.css">
</head>
<body>
  <sec>
    <div>
      <div></div>
    </div>
  </sec>


  <sec>
    <div>
      <div></div>
    </div>
  </sec>

  <sec>
    <div>
      <div></div>
    </div>
  </sec>

  <sec>
    <div>
      <div></div>
    </div>
  </sec>

  <div></div>
  <div></div>
  <div></div>
  <div></div>

  <div>
    <div></div>
  </div>


  <div></div>
  <div></div>


</body>
</html>