<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>
    <link rel="stylesheet" href="assets/css/stylesheet.css">
    <link rel="stylesheet" href="assets/css/normalize.css" >

    <link rel="preconnect" crossorigin href="https://fonts.gstatic.com" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" >
    <link rel="stylesheet" href="../../../../Assets/css/fonts/css/all.css" >

    <link href="assets/css/fonts/css/all.css" rel="stylesheet">

</head>
<body>
<header>
    <img src="assets/images/ijselogo.png" alt="">
    <ul>
        <li>Home</li>
        <li>Service</li>
        <li>Contact Us</li>
        <li>About Us</li>
    </ul>
</header>

<main>
    <nav>
        <ul>
            <li><i class="fas fa-home"></i><a href="index1.html">Home</a></li>
            <li><i class="fab fa-servicestack"></i><a href="index1.html">Service</a></li>
            <li><i class="far fa-address-book"></i><a href="index1.html">Contact Us</a> </li>
            <li><i class="fas fa-address-card"></i><a href="index1.html">About Us</a></li>
        </ul>
    </nav>
    <section>
        <section>
            <div></div>
            <div></div>
            <div></div>
        </section>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi, asperiores consequuntur cumque
            deserunt eligendi enim, est in inventore laboriosam nobis quaerat quia quidem quos repellat, sunt
            tempore voluptatem voluptatibus.</p>
        <p>Accusantium aliquid aut ducimus eaque, illum iure iusto, nobis nulla pariatur quo, sequi tempora unde
            voluptates. Facere incidunt ipsa ipsum molestias reprehenderit sit. Commodi ea inventore molestias
            numquam tenetur ullam.</p>
        <p>Alias, assumenda ea molestiae placeat sunt veritatis voluptates. A alias aliquam explicabo in libero
            nobis repudiandae veniam. Corporis dignissimos dolores doloribus ex iusto pariatur sit tempora unde vero
            voluptate. Hic!</p>
        <p>Alias dolore eaque magnam minima mollitia nam provident quaerat quisquam suscipit totam! Commodi
            deserunt, dicta dolorum eius expedita explicabo ipsum officiis optio provident, quam qui, quod ratione
            temporibus. Aliquid, laudantium!</p>
        <p>Accusantium architecto consequatur, maxime modi necessitatibus nobis provident repellendus tempora
            temporibus! Accusantium adipisci, animi assumenda distinctio ex facere fuga fugiat iusto, magnam minus
            nobis quasi repellendus similique vel velit, voluptatum?</p>
        <p>Adipisci alias, aperiam culpa cum dignissimos, eius impedit inventore laborum nisi non numquam obcaecati
            pariatur quae, quasi quo repellat similique. Aliquam dolores est reprehenderit? Natus provident quis
            repudiandae. A, cupiditate.</p>
        <p>Enim ex hic quia! Eos explicabo id iure maxime omnis quae quis, reprehenderit sint? Aliquid animi
            molestiae obcaecati possimus. At autem commodi, facilis inventore ipsam obcaecati perspiciatis sapiente
            velit vero.</p>
        <p>A dicta eaque eum explicabo illo maiores praesentium provident quas veritatis. Culpa debitis eligendi
            libero maxime voluptatum. Atque eaque est, libero obcaecati optio possimus qui rem saepe sint voluptatem
            voluptatum!</p>

    </section>
</main>

<footer>
    <p>Designed By Amila Ravinga</p>
</footer>
</body>
</html>